#root {
  margin-top: 50px;
}

.container {
  max-width: 630px;
  margin: 0 auto;
  padding: 0px 20px;
}

/* product favorite */
.product-favorite {
  position: absolute;
  right: 5px;
  top: 5px;
}

.product-favorite svg {
  color: var(--color-gray-910);
}
