#root {
  margin-top: 50px;
}

.container {
  max-width: 630px;
  margin: 0 auto;
  padding: 0px 20px;
}

/* header component*/

.header {
  margin-bottom: 10px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header__tg {
  border-radius: 40px;
  padding: 3px 7px 3px 3px;
  box-shadow: var(--shadow-100);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__tg span {
  font-weight: 500;
  font-size: 13px;
  line-height: 105%;
}

.header__button,
.header__dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  padding: 10px 14px;
  backdrop-filter: blur(30px);
  background-color: var(--color-gray-300);
  height: 30px;
  color: var(--color-gray-600);
}

.header__dropdown {
  gap: 11px;
}

.header__button span {
  font-weight: 500;
  font-size: 11px;
}

/* search component */

.search {
  margin-bottom: 15px;
}

.search__inner {
  border-radius: 30px;
  padding: 11px 20px;
  width: 100%;
  height: 39px;

  display: flex;
  align-items: center;
  gap: 10px;

  box-shadow: var(--shadow-100);
  background-color: var(--color-white);
  position: relative;
  z-index: 2;
}

.search__icon {
  flex: 0 0 17px;
  height: 17px;
  color: var(--color-gray-200);
}

.search__input {
  width: 100%;
  font-size: 17px;
  line-height: 115%;
}

.search__input::placeholder {
  font-size: 15px;
  color: var(--color-gray-200);
}

/* mainblock */

.mainblock {
  margin-bottom: 10px;
}

.mainblock__image {
  position: relative;
  padding-bottom: 41.2%;
  border-radius: 20px;
  overflow: hidden;
}

.mainblock__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* categories component */

.categories {
  margin-bottom: 15px;
}

.categories__cards {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  /* overflow: hidden; */
  padding-bottom: 5px;
}

.categories__cards::-webkit-scrollbar {
  height: 6px;
  cursor: pointer;
}

.categories__cards::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}

.categories__cards::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.categories__cards::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.categories__cards::-webkit-scrollbar-corner {
  background-color: transparent;
}

.categories__card {
  flex: 0 0 114px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.categories__image {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}

.categories__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.categories__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 110%;
  text-align: center;
}

/* footer */

.footer__info {
  margin-bottom: 10px;
}

.footer__info-title {
  font-size: 11px;
  line-height: 115%;
  color: var(--color-gray-500);
  margin-bottom: 5px;
  text-align: center;
}

.footer__info-btn {
  border-radius: 20px;
  padding: 4px 7px 5px 5px;
  background-color: var(--color-gray-400);
  display: flex;
  align-items: center;
  gap: 6px;
  width: max-content;
  margin: 0 auto;
}

.footer__info-btn svg {
  color: var(--color-blue-100);
}

.footer__info-btn span {
  font-weight: 500;
  font-size: 11px;
  line-height: 105%;
  color: var(--color-gray-500);
}

.footer__menu {
  /* position: fixed;
  max-width: 590px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  width: 100%; */
  border: 1px solid var(--color-gray-700);
  border-radius: 30px;
  backdrop-filter: blur(30px);
  background-color: var(--color-white-100);
  padding: 16px 33px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer__list li {
  color: var(--color-gray-800);
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.footer__list li.active {
  color: var(--color-main);
}

/* Products component */

.button {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--color-gray-100);
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #b9b9b9;
}

.button span {
  font-weight: 500;
  font-size: 13px;
  line-height: 115%;
}

.products {
  margin-bottom: 22px;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

/* Product Card */

.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 20px;
  padding: 2px;
  box-shadow: var(--shadow-100);
  background-color: var(--color-white);
}

.product-card__button {
  margin-top: auto;
}

.product-card__image-wrapper {
  position: relative;
}

.product-card__image {
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  padding-bottom: 99.5%;
}

.product-card__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.product-card__info {
  margin-top: -5px;
  padding: 0px 5px;
  text-align: left;
}

.product-card__title {
  line-height: 115%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s ease 0s;
}

.product-card__title:hover {
  color: #b9b9b9;
}

.product-card__price {
}

.price-normal {
  font-weight: 700;
  font-size: 17px;
}

.price-old {
  font-weight: 500;
  font-size: 11px;
  text-decoration: line-through;
  color: var(--color-gray-900);
}

.discount {
  font-weight: 600;
  font-size: 11px;
  color: var(--color-red);
}

.prices {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* search result card */
.search__body {
  position: relative;
  z-index: 2;
}

.search__results {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 22px;
  left: 0;
  z-index: 1;
}

.results-seacrh__cards {
  border-radius: 0 0 15px 15px;
  padding: 40px 20px 20px;
  box-shadow: var(--shadow-100);
  background-color: var(--color-white);
}

.card-search-result {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--color-white);
}

.card-search-result__image img {
  border-radius: 10px;
  width: 52px;
  height: 52px;
  overflow: hidden;
}

.card-search-result__title {
  font-size: 15px;
  line-height: 115%;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

/* Popular Searches */

.popular-searches {
  margin-top: 15px;
  background-color: var(--color-gray-100);
}

.popular-searches__items {
  display: flex;
  flex-direction: column;
}

.popular-searches__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 115%;
  margin-bottom: 7px;
}

.popular-searches__item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.popular-searches__item:hover {
  color: var(--color-gray-200);
}

.popular-searches__item svg {
  color: var(--color-gray-200);
}

.popular-searches__item-title {
  font-size: 16px;
  line-height: 115%;
  border-bottom: 1px solid var(--color-gray-200);
  width: 100%;
  padding: 10px 0px;
  transition: color 0.3s ease 0s;
}

/* badge-card */

.badge-cards {
  position: absolute;
  left: 5px;
  top: 5px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.badge-card {
  border-radius: 15px;
  padding: 4px 8px;
  width: max-content;
}

.badge-card span {
  font-weight: 800;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.badge-card--hit {
  background-color: var(--color-orange);
}

.badge-card--sale {
  background-color: var(--color-yellow);
}

.badge-card--premium {
  background-color: var(--color-main);
}

.badge-card--new {
  background-color: var(--color-green);
}

/* product favorite */
.product-favorite {
  position: absolute;
  right: 5px;
  top: 5px;
}

.product-favorite svg {
  color: var(--color-gray-910);
}
