/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Medium */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter SemiBold */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Mulish ExtraBold */
@font-face {
  font-family: 'Mulish';
  src:
    url('/fonts/Mulish-ExtraBold.woff2') format('woff2'),
    url('/fonts/Mulish-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-main: #292928;

  /* white color */
  --color-white: #fff;
  --color-white-100: rgba(255, 255, 255, 0.3);

  /* gray color */
  --color-gray-100: #f1f1f1;
  --color-gray-200: #b5b5b5;
  --color-gray-300: rgba(198, 198, 198, 0.3);
  --color-gray-400: rgba(139, 139, 139, 0.1);
  --color-gray-500: #8b8b8b;
  --color-gray-600: #666666;
  --color-gray-700: rgba(108, 108, 108, 0.1);
  --color-gray-800: #85858b;
  --color-gray-900: rgba(41, 41, 40, 0.3);
  --color-gray-910: #6c6c6c;

  /* blue color */
  --color-blue-100: #37aee2;

  /* accent color */
  --color-red: #f24131;
  --color-orange: #ff6723;
  --color-yellow: #ffca28;
  --color-green: #45b649;

  /* box-shadow */
  --shadow-100: 0 0 10px 0 rgba(48, 48, 48, 0.05);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: var(--color-main);
  background-color: var(--color-gray-100);

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--color-main);
}

a {
  /* text-decoration: none; */
  text-decoration: inherit;
  color: inherit;
}

ol,
li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
}
